html {
    font-size: 62.5%;
}

body {
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/*-----------------------------------------------*/
/*页眉*/
header {
    background-color: #232a34;
    color: white;
    padding-top: 5px;
}

.banner {
    margin: 0.8em 2em 0 2em;
    display: flex;
    align-items: flex-end;
}

.banner a.logo {
    margin: 0 auto 0 0;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}

.banner a img {
    margin-top: 0;
    margin-right: 1em;
}

.banner a.logo p {
    margin: 0.1em 0 0.5em 0;
    color: white;
    font-size: 1.7em;
}

.banner a.link {
    padding: 8px 2%;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 5px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(255, 255, 255, .4);
}

.banner a.link:hover, .banner a.link.highlight {
    background-color: white;
    color: black;
}

/*-----------------------------------------------*/
/*页脚*/
footer {
    background-color: #071b4d;
    color: #9ca4b8;;
    font-size: 1.5em;
    line-height: 2em;
}

.footer__body {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    padding: 2em;
    border-bottom: 1px solid #45547a;
    margin-bottom: 0;
}

.footer__body__column {
    width: 12em;
}

.footer__body__column__title {
    font-weight: bold;
    color: white;
}

.footer__body__column li a {
    color: #9ca4b8;
    text-decoration: none;
}

.icon-button-group {
    display: flex;
}

.icon-button-group a {
    flex: 1 1;
}

.footer__logo__text {
    font-size: 0.9em;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap-reverse;
}

.footer__nav ul {
    margin: 0;
}

.footer__nav a, p {
    color: #9ca4b8;
    text-decoration: none;
}

.footer__navbar__logo {
    display: flex;
    padding: 0 2em;
    flex: 1;
}

.footer__navbar__logo p {
    margin-left: 1em;
    max-width: 23em;
    line-height: normal;
}

.footer__navbar__logo span {
    color: white;
    font-weight: bold;
}

.footer__navbar__list {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    flex-flow: row wrap;
    margin-right: 1em;
    padding-top: 1em;
}

.footer__navbar__list li {
    margin: 0 0.5em;
    font-weight: bold;
    width: 4em;
}

.footer__navbar__list li:first-of-type {
    margin-left: 0;
}

.footer__navbar__list li:last-of-type {
    margin-right: 1em;
    width: 6em;
    margin-bottom: 0.8em;
}

.languageChoose {
    display: flex;
    border-radius: 10px;
    border-color: #9ca4b8;
    border-style: solid;
    padding-left: 0.2em;
}

.languageChoose p {
    margin: 0;
    padding-left: 0.15em;
}

.languageChoose img {
    padding-top: 0.1em;
}