main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2.75rem;
    text-align: center;
}

figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: flex-start;
}

figure > img {
    flex: 1 1;
    margin-right: 1rem;
    width: 50%;
    object-fit: contain;
}

figure .details {
    flex: 1 1;
    font-size: 2rem;
}

.details ul {
    margin: 1rem 0 2rem 1rem;
}

.details li {
    background-color: white;
    margin-left: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 0.1rem;
    line-height: 5rem;
}

.details li:first-of-type {
    background-color: #d9d9d9;
}

li span {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

li.collection_number{
    font-size: 3rem;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
    line-height: 6rem;
    position: relative;
}

li button{
    margin-left: auto;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 32px;
    height: 32px;
    background: none;
    background-image: url("../image/collect.png");
    background-repeat: no-repeat;
}

li button:hover{
    background-image: url("../image/collect_hover.png");
    cursor: pointer;
}

article {
    background-color: white;
    width: 90%;
    padding: 0.5rem 2rem 1rem 2rem;
    margin: 2rem auto 4rem;
}

article pre{
    font-size: 1.75rem;
}
