h1 {
    font-size: 3.1em;
    color: white;
    margin: 12rem auto auto;
    max-width: 60rem;
    padding-left: 7px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

header{
    padding-top: -50px;
    height: 45rem;
}

.search_bar {
    padding: 10px 0;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}

.search_bar input {
    border: 2px solid #8a2be2;
    border-radius: 5px;
    background: white;
    top: 0;
    right: 0;
    width: 284px;
    font-size: 1.4rem;
}

.search_bar button {
    background: #6439af;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 0;
    right: 0;
    height: 48px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.search_bar button:before {
    color: #F9F0DA;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mainImg {
        background-image: url("../travel-images/480p.jpg");
    }

}

@media (min-width: 481px) and (max-width: 720px) {
    .mainImg {
        background-image: url("../travel-images/720p.jpg");
    }

}

@media (min-width: 721px) and (max-width: 1080px) {
    .mainImg {
        background-image: url("../travel-images/1080p.jpg");
    }
}

@media (min-width: 1081px) and (max-width: 1440px) {
    .mainImg {
        background-image: url("../travel-images/1440p.jpg");
    }
}

@media (min-width: 1441px) {
    .mainImg {
        background-image: url("../travel-images/2160p.jpg");
    }
}

@media (min-width: 700px) {
    .search_bar {
        width: 600px;
        margin: auto;
    }

    .search_bar input {
        height: 52px;
        width: 560px;
        margin-left: -145px;
        font-size: 1.6rem;
    }

    .search_bar button {
        right: -130px;
        height: 57px;
        width: 80px;
        font-size: 1.8rem;
    }
}
