.imgGroup ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.thumbnail {
    width: 42rem;
    height: 64rem;
    background-color: #d9d9d9;
    margin: 2rem 2rem 2rem;
    cursor: pointer;

}

.thumbnail:hover {
    box-shadow: 5px 5px 10px #888888;
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail a p {
    color: #a9a9a9;
    font-size: 1.3rem;
    margin: 0 2.9rem;
    height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.thumbnail a h3 {
    color: black;
    font-size: 2rem;
    margin: 0.7rem 2.9rem 0;
}

.thumbnail a img {
    object-fit: cover;
}

@media (max-width: 340px) {
    .thumbnail {
        width: 36rem;
        height: 55rem;
    }

    .thumbnail a img {
        width: 36rem;
        height: 48rem;
    }
}