html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}



/*-- main --*/

.form_part {
    width: 35%;
    margin: 3.5em auto;
    background: rgba(112, 128, 144, 0.7);
    background-size: cover;
    padding: 3.5em 3em 3em;
    font-size: 1.5rem;
}

.register {
    padding-bottom: 0;
}

.register p {
    margin-top: 0;
}

.register form label input {
    margin: 0 0 1rem;
}

input[type="submit"] {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    background: #6439af;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1em;
    margin: 3em auto;
}

input[type="submit"]:hover {
    background: #8a2be2;
    transform: translateY(3px);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.58);
    transition: .5s all;
}

input[type="text"], input[type="password"], input[type="email"] {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 100;
    margin: 1em 0 3em;
    width: 93%;
    display: block;
    border: none;
    padding: 1em;
    border-bottom: solid 1px #fff;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-size: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%) no-repeat -800px 0;
}

.input_box::-webkit-input-placeholder {
    color: white;
}

.input_box:focus, .input_box:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.input_box:focus:-moz-placeholder, .input_box:valid:-moz-placeholder {
    color: #FFC107;
    font-size: .9em;
    transform: translateY(-12px);
    visibility: visible !important;
}

.input_box:focus::-moz-placeholder, .input_box:valid::-moz-placeholder {
    color: #FFC107;
    font-size: .9em;
    transform: translateY(-12px);
    visibility: visible !important;
}

.input_box:focus::-webkit-input-placeholder, .input_box:valid::-webkit-input-placeholder {
    color: #FFC107;
    font-size: .9em;
    transform: translateY(-12px);
    visibility: visible !important;
}

input {
    color: #fff;
    font-weight: 100;
}

.form_part p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.form_part p a {
    color: #fff;
    transition: .5s all;
}

.form_part p a:hover {
    color: #FFC107;
}

/*-- //copyright --*/
/*-- responsive-design --*/
@media (max-width: 1280px) {
    h1 {
        font-size: 2.6em;
    }

    .form_part {
        width: 40%;
    }
}

@media (max-width: 1080px) {
    .form_part {
        width: 45%;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 2.4em;
    }
}

@media (max-width: 900px) {
    input[type="text"], input[type="password"], input[type="email"] {
        margin: 2.5em 0 0;
        width: 90%;
    }

    .form_part {
        width: 52%;
        margin: 3em auto;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 736px) {
    .form_part {
        padding: 0.5em 2.5em 2.5em;
    }

    .form_part {
        width: 62%;
        margin: 3em auto;
    }
}

@media (max-width: 667px) {
    .form_part {
        width: 67%;
    }

    input[type="submit"] {
        padding: 0.9em;
    }
}

@media (max-width: 600px) {
    input[type="text"], input[type="password"], input[type="email"] {
        padding: 1em 0.9em;
    }

    input[type="submit"] {
        margin: 2.5em 0;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 5px;
    }
}

@media (max-width: 568px) {
    .form_part {
        width: 75%;
        margin: 2em auto;
    }
}

@media (max-width: 414px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }

    .form_part {
        width: 85%;
        margin: 1.5em auto;
        padding: 0.5em 2em 2em;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: .9em;
        width: 95%;
        padding: .8em .5em;
    }

    .input_box:focus, .input_box:valid {
        background-position: 0 0;
    }

    input[type="submit"] {
        font-size: 0.9em;
    }

    .form_part p {
        font-size: 0.9em;
    }
}

@media (max-width: 384px) {
    .form_part {
        width: 88%;
        padding: 2em 0 0;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        width: 94%;
    }
}

@media (max-width: 375px) {
    .form_part p {
        letter-spacing: 0;
        padding-bottom: 1em;
    }

    .form_part {
        width: 94%;

    }

    .form_part form {
        margin: 1em 1em 0;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    .form_part {
        width: 92%;
        padding: 2em 0 1.8em;
    }

    .input_box:focus, .input_box:valid {
        background-position: 0 0;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        font-size: .85em;
        margin: 1.8em 0 0;
    }

    input[type="submit"] {
        margin: 1.5em 0;
        padding: 0.8em;
    }
}

/*-- //responsive-design --*/